<div class="panto-usage">
    <h2 id="install">安装</h2>
    <code class="cmd {{focusClass}}">
<pre>$npm install -g panto-cli</pre>
<pre>$panto -w -f pantofile.js</pre>
    </code>
<code class="js {{focusClass}}">
    <pre>    <span class="comment">// pantofile.js</span>
    module.exports = panto => {
        panto.loadTrasnformer('read');
        panto.loadTrasnformer('uglify');
        panto.loadTrasnformer('write');

        panto.pick('src/**/*.js').read().uglify.write();
    };</pre>
</code>
</div>
