<div class="panto-whatis">
    <h2>什么是“文件变换”?</h2>
    <div class="show">
        <img src="img/whatis.png" alt="" border="0">
    </div>
    <p class="desc">
      <dfn>文件变换</dfn>也称为编译，定义为源文件格式和目标文件格式之间的转换行为。
    </p>
</div>
