<div class="panto-for">
    <h2>为什么设计 PantoJS?</h2>
    <p class="desc"><b>PantoJS</b> 原设计为对现代同构 JavaScript 前端工程的构建（编译）支持。往往这类项目具有异常复杂的构建流程，然而传统的构建工具存在以下不足：(1)以磁盘文件作为构建环节之间的交流格式，速度缓慢；(2)基于可匹配的文件集合，丢失剩余文件；(3)对相同源文件的不同构建流程会读取磁盘多次；(4)增量构建粒度过粗</p>
    <p class="desc">相比于 <a href="http://gruntjs.com">grunt</a> 和 <a href="http://gulpjs.com">gulp</a>， panto 具有以下改进：</p>
    <table>
        <thead><tr>
            <th></th>
            <th>grunt</th>
            <th>gulp</th>
            <th>panto</th>
        </tr></thead>
        <tbody>
        <tr>
            <td>基于内存的流式构建流程</td>
            <td>👎🏻</td>
            <td>👍</td>
            <td>👍</td>
        </tr>
        <tr>
            <td>剩余文件</td>
            <td>👎🏻</td>
            <td>👎🏻</td>
            <td>👍</td>
        </tr>
        <tr>
            <td>同一文件不同流程的共享读取</td>
            <td>👎🏻</td>
            <td>👎🏻</td>
            <td>👍</td>
        </tr>
        <tr>
            <td>文件级别的增量构建</td>
            <td>👎🏻</td>
            <td>👎🏻</td>
            <td>👍</td>
        </tr>
        </tbody>
    </table>
</div>