<div class="panto-usage">
    <h2 id="install">INSTALL</h2>
    <code class="cmd {{focusClass}}">
<pre>$npm install -g panto-cli</pre>
<pre>$panto -w -f pantofile.js</pre>
    </code>
<code class="js {{focusClass}}">
    <pre>    <span class="comment">// pantofile.js</span>
    module.exports = panto => {
        panto.pick('src/**/*.js').pipe(panto.read()).pipe(panto.write()).end();
    };</pre>
</code>
</div>
