<header class="panto-header">
    <nav>
        <ul>
            <li>{{#link-to "index"}}PantoJS{{scrollTop}}{{/link-to}}</li>
            <!-- <li>{{#link-to "tutorial"}}TUTORIAL{{/link-to}}</li>
            <li>{{#link-to "about"}}ABOUT{{/link-to}}</li> -->
        </ul>
    </nav>
</header>