<div class="panto-vision">
    <div class="mask"></div>
    <div class="content">
        <h1 class="caption">PANTOJS</h1>
        <h4 class="detail">An ambitious file-transforming task runner</h4>
        <div class="btns">
            <a href="#install" class="btn">INSTALL</a>
        </div>
    </div>
</div>
